@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  margin-top: 20px;
  margin-inline: 20px;
}

footer {
  background-color: #ecf8d6;
  width: 100%;
  padding: 2px 12px;
  text-align: center;
  padding: 10px;
}

main {
  margin-bottom: 60px;
  text-align: center;
}

h1 {
  margin: 0 auto;
  width: fit-content;
  font-size: 40px;
  margin-top: -20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
  background-color: #ecf8d6;
  border-radius: 20px;
  padding: 2px 12px;
}

a:hover {
  background-color: #d9cbff;
}

#logo {
  width: 60px;
}

#logoLink {
  background-color: white;
}

#logoLink {
  background-color: white;
}

#desc {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 100px;
  text-align: left;
  padding-left: 5%;
}

#desc h2, #desc p, #desc ul {
  padding-right: 5%;
}

.descItem {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
}

/*Tipos de ficha*/

.charDetail {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  margin-top: 20px;
  margin-bottom: 20px;
}

.charDetail::-webkit-scrollbar {
  height: 6px;
  border-radius: 3px;
}

.charDetail::-webkit-scrollbar-thumb {
  background: #ecf8d6;
  border-radius: 3px;
}

.charDetail::-webkit-scrollbar-track {
  background: white;
}

.charDetail>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.charDetail div p {
  padding: 4px 0;
  text-align: center;
}

.charDetail div:first-child {
  margin-left: 0;
}

input[type="radio"] {
  visibility:hidden;
}

/*Juego*/


.FourInLine {
  position: relative;
  height: 580px;   
}

.actualGame {
  margin: 0 30px;
  position: absolute; 
  height: 580px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100%;
  visibility: hidden;
}

.actualGame canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}

.actualGame>div{
  display: flex;
  align-items: flex-end;
}

.theGame {
  position: absolute;
  width: 100%;
  height: 580px;
}

.gameOnLine {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 85%;
  left: 7.5%;
  filter: blur(3px);
  position: absolute;
}

#gameForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  position: absolute;
  left: 15%;
  margin-top: 40px;
  align-items: center;
  border-radius: 10px;
  background-color: #ecf8d6;
}

#gameForm select {
  font-family: "Poppins", sans-serif;
  background-color: #d9cbff;
  visibility: hidden;
}

#gameForm h2 {
  padding: 30px 30px 0px 30px;
}

#errorPersonajes {
  color: red;
  font-weight: 500;
}

#btnGame {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
  filter: invert(78%) sepia(17%) saturate(1098%) hue-rotate(206deg) brightness(102%) contrast(106%);
}

#btnGame:hover {
  filter: invert(25%) sepia(92%) saturate(1381%) hue-rotate(238deg) brightness(93%) contrast(87%);
}

.playerSetter{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

.playerSetter img{
  width: 40px;
  height: 40px;
  z-index: 1;
  position: absolute;
}

.playerSetter input{
  z-index: 0;
}

.playerSetter>div>div{
  padding-top: 20px;
  height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.playerSetter input:checked + label img{
  transform: scale(1.2);
}

.hide{
  z-index: -100;
  opacity: 0;
}

/*Timer*/

.timer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #ecf8d6;
  border-radius: 0px 0px 20px 20px;
  width: 291px;
  height: 79px;
  text-align: center;
}

.timer.game{
  border-color: 2px solid;
  width: 200px;
  height:48px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.timer.game p {
  top:0;
  color: black;
  font-size: 24px;
}
.timer.game div p {
  top: 0px!important;
  box-shadow: none!important;
}

.timer p {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px
}

.timer div p:first-child {
  color: black;
  width: 66px;
  height: 66px;
  border-radius: 100%;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: -13px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.timer.game div p:first-child {
  width: 45px;
  height: 45px;
}

.timer div p:nth-child(2) {
  font-size: 13px;
  line-height: 15px;
  position: relative;
  top: -8px;
}

.timer.game div p:nth-child(2) {
  line-height: 11px;
  position: relative;
  top: -10px;
}

#restartButton {
  margin: 10px;
  padding: 10px;
}


@media (min-width: 750px) {
  h1 {
    margin-top: 0px;
  }

  #desc {
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
  }

  .descItem {
    font-size: 16px;
    max-width: 100%;
  }

  .playerSetter{
    flex-direction: row;
  }

}